* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper {
  width: 100%;
  height: 100vh;
}
.swiper-slide h1 {
  color: #000;
}
